<ng-container [ngSwitch]="type">

  <button *ngSwitchCase="'accent'" mat-raised-button color="accent">
    {{label}}
  </button>
  <button *ngSwitchCase="'primary'" mat-raised-button color="primary">
    {{label}}
  </button>
  <button *ngSwitchCase="'warn'" mat-raised-button color="warn">
    {{label}}
  </button>
  <button *ngSwitchCase="'disabled'" mat-raised-button disabled>
    {{label}}
  </button>
  <a *ngSwitchCase="'link'" mat-raised-button href="https://eolia-software.com/" target="_blank">
    {{label}}
  </a>
  <button *ngSwitchDefault mat-raised-button>
    {{label}}
  </button>

</ng-container>